.no-btn {
  position: fixed;
  z-index: 9999;

  background-color: #6b7280;
  color: white;
  transform: translateX(+70px);

  padding: 12px 32px;
  border: none;
  border-radius: 50px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease;
  
}

.no-btn:hover {
  transform: scale(1.05);
  background-color: #4b5563;
}

.yes-btn {
  background-color: #ec4899;
  color: white;
   transform: translateX(-70px);

  padding: 12px 32px;
  border: none;
  border-radius: 50px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease;
}

.yes-btn:hover {
  background-color: #db2777;
  transform: scale(1.05);
}
